.articleList
  &-Image
    height: 200px
    width: 200px
    img
      height: 100%
      width: 100%
      object-fit: contain
  
.page
  margin: var(--vertical-four) 0
  & > div, & > section
    margin-bottom: var(--vertical-three)
    &:last-child
      margin-bottom: 0
  &-Article
    margin-top: var(--vertical-two)

section
  max-width: 100%
  padding: 0 var(--spacing-sides)
  img
    max-width: 100%
    user-select: none
  .title
    margin-bottom: var(--spacing-one)

.lazy
  opacity: 0
  transition: opacity $trans-img
  &[lazy="loaded"]
    opacity: 1

// .item
//   margin: 1rem

.header
  position: relative
  display: flex
  flex-wrap: nowrap
  justify-content: space-between
  align-items: flex-start
  width: 100%
  padding: var(--spacing-sides)
  &-Logo
    width: 430px
    cursor: pointer
    img
      width: 100%
  ul
    display: flex
    flex-wrap: nowrap
    li
      padding-right: var(--spacing-one)
      cursor: pointer
    li:last-child
      padding-right: 0
  .nuxt-link-exact-active
    text-decoration: underline

.articleList
  display: flex
  flex-direction: column
  &-Item
    cursor: pointer
    display: flex
    flex-wrap: nowrap
    margin-bottom: var(--vertical-two)
    &:last-child
      margin-bottom: 0
  &-Image
    flex-shrink: 0
    margin-right: var(--spacing-one)
  &-Content
    display: flex
    flex-direction: column
    & > div
      margin-bottom: .5rem
      &:last-child
        margin-top: 1rem
        margin-bottom: 0

.articleSingle
  &-Landing
    height: 100vh
    width: 100%
    position: relative
    margin-bottom: var(--vertical-two)
  &-Title
    padding: 0 var(--spacing-sides)
    h1
      text-align: center

.authorList
  display: flex
  flex-wrap: wrap
  h1, h2, p
   font-family: 'Adieu', Helvetica, Arial, sans-serif
   font-size: 1.25rem
   color: $type-secondary

.imageWindow
  position: relative
  border: 1px solid $type
  border-radius: 1000px
  img
    padding: .5em
    width: 100%
    height: 100%
    border-radius: 1000px
    object-fit: cover
  &-S
    width: 265px
    height: 350px
  &-Full
    position: absolute
    top: 0
    left: 0
    bottom: 0
    width:  74vh
    transform: translateX(50%)




// Aspect ratio CSS
.aspectRatioOutside
  position: relative
  // overflow: hidden
  width: 100%
  &.landscape
    height: 0
    padding-top: 56.25% // 16:9
  &.square
    height: 0
    padding-top: 100% // 1:1
  &.portrait
    height: 0
    padding-top: 150% // 2:3
  &.contain img
    object-fit: contain
  &.cover img
    object-fit: cover
  .aspectRatioInside
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    img
      width: 100%
      height: 100%

// Important since overriding interactions
.desktop
  display: none
  @media screen and ( max-width: $breakpoint-mobile)
    display: none !important
.mobile
  display: none
  @media screen and ( max-width: $breakpoint-mobile)
    display: block !important
.horizontal
  display: none
  @media screen and (orientation: landscape)
    display: block !important
.vertical
  display: none
  @media screen and (orientation: portrait)
    display: block !important

// Prevent userselect
a, input, button, .button, .item-Button
  user-select: none

// ONLY FOR EXAMPLE
.item
  &-Images
    &_List
      display: flex
      flex-wrap: wrap
    &_Single
      display: inline-block
      width: 33.3333%
